<h2>Posts</h2>
<div class="row pb-4">
  <div class="col-sm-3 col-xs-4">
    <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="goToCreate()">Create</button>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let col of columnsToShow">{{col.label? col.label : col.path}}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of posts">
        <td *ngFor="let prop of columnsToShow">
          <div *ngIf="prop.path !== 'content'">{{item[prop.path]}}</div>
          <div *ngIf="prop.path === 'content'" [innerHtml]="item[prop.path]"></div>
          
        </td>
        <button type="button" class="btn btn-success btn-sm" (click)="edit(item)">Edit</button>
      </tr>
    </tbody>
  </table>
</div>