<nav class="navbar navbar-expand-md navbar-dark bg-dark "  [ngClass]="{'navbar-toggleable-md navbar-inverse fixed-top bg-inverse': isAdminDashboard() }">
    <!-- fixed-top -->
    <a class="navbar-brand" href="javascript:void(0)">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleMobile($event)" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': mobileToggle}" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="{ 'active': isLinkActive('/') }">
                <a class="nav-link" routerLink="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li *ngFor="let link of links" class="nav-item" [ngClass]="{ 'active': isLinkActive(link.url) }">
                <a class="nav-link" routerLink="{{link.url}}">{{ link.name }}</a>
            </li>

        </ul>
        <div class="justify-content-end">
            <div class="row">
                <div class="col">
                    <ul *ngIf="isAuthenticated()" class="navbar-nav mr-auto pr-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!" (click)="$event.preventDefault(); menuState = !menuState" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">{{user?.username}}</a>
                            <div class="dropdown-menu" [ngClass]="{'show': menuState}" aria-labelledby="dropdown01" id="drop-opt">
                                <a *ngIf="isAdmin()" class="dropdown-item" routerLink="admin">Admin</a>
                                <a class="dropdown-item" routerLink="profile">Profile</a>
                                <a class="dropdown-item" (click)="logout($event);" href="#">Logout</a>
                            </div>
                        </li>
                    </ul>
                    <button *ngIf="!isAuthenticated()" type="button" class="btn btn-primary btn-sm">
                        <a routerLink="authenticate" style="color: #fff">Login/Signup</a>
                    </button>
                </div>
            </div>
        </div>
        <form *ngIf="showSearch" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>